extends index

block content

	form(action='/resetPassword', method='post')
		input(type='hidden', name='acccountId', value='#{locals.accountId}')

		p
			label(for='password') Your New password
			input#password(type='password', name='password')

		p
			button(type='submit')
