<h1>Register</h1>

<form>
	<fieldset>
		<legend>Your Name</legend>
		<label>First : </label>
		<input type="text" placeholder="Type your frst name…" name="firstName">
		
		<label>Last</label>
		<input type="text" placeholder="Type tour last name…" name="lastName">
		
	</fieldset>

	<fieldset>
		
		<legend>Your Email Adress</legend>
		<label>Email</label>
		<input type="text" placeholder="Type your e-mail" name="email">

		<br>

		<label>Email (confirm)</label>
		<input type="text" placeholder="Re-Type your e-mail" name="cemail">
	

	</fieldset>

	<fieldset>
		
		<legend>Your Password :</legend>
		<label>Password</label>
		<input type="password" placeholder="Type your password" name="password">

		<br>

		<label>Password (confirm)</label>
		<input type="password" placeholder="Re-Type your password" name="cpassword">
	

	</fieldset>

	 <button type="submit" class="btn">Submit</button id="submit">


</form>